# Environment
NODE_ENV=development

# Postgres
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/database_name

# Port
PORT=8000

# CORS
CORS_ORIGIN=http://your-frontend-domain.com

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000
