NODE_ENV=development

POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=database_name

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL_TEST=postgresql://USER:PASSWORD@HOST:PORT/TEST_DATABASE


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_password??

PORT=7000

FRONTEND_URL=http://localhost:3000

JWT_ACCESS_TOKEN=jwt_secret
JWT_ACCESS_TOKEN_EXPIRY=7d

REFRESH_COOKIE_MAX_AGE=604800000

STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret

RESEND_API=resend_api_key
